@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #18181b;
  color: white;
}

/* 기본: 스크롤바 숨김 처리 */
*:not(.show-scrollbar)::-webkit-scrollbar {
  display: none;
}

*:not(.show-scrollbar) {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

/* 예외: show-scrollbar 클래스에는 스크롤바 표시 */
.show-scrollbar::-webkit-scrollbar {
  display: initial;
}

.show-scrollbar {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}


.tiptap [style*="font-size"] {
  font-size: inherit;
}

.tiptap {
  background-color: white;
  color: black;
}

.dark .tiptap {
  background-color: #18181b; /* = bg-zinc-900 */
  color: white;
}

.tiptap p {
  margin-bottom: 0.5rem;
}

.tiptap strong {
  font-weight: 700;
}

.tiptap [style*="font-size:14px"] { font-size: 14px; }
.tiptap [style*="font-size:18px"] { font-size: 18px; }
.tiptap [style*="font-size:24px"] { font-size: 24px; }
.tiptap [style*="font-size:32px"] { font-size: 32px; }

/* ProseMirror 포커스 스타일 제거 */
.tiptap .ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}
